@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

header {
  font-size: 36px;
  font-family: 'Raleway';
  line-height: 48px;
  text-align: center;

  width:960px;

  padding:12px;
  margin: 0 auto;
  margin-bottom:12px;
}

a {
  display:inline-block;
  font-family: 'Playfair Display';
  color:inherit;
  text-decoration: none;
  width:120px;
  color:white;
  background-color: #000;
  padding:12px;
}

.other_link:active {
  background-color: #fff;
  color:#000;
}

.top_bar {
  width:960px;
  margin:0 auto;
  border-bottom: 4px solid #000;
  margin-bottom:12px;
}

.logout {
  position: absolute;
  top: 24px;
  text-align: right;
  right: 24px;
  /* height: 24px; */
  font-size: 22px;
  background-color: #000;
  border: none;
  color: white;
}

label {
  font-family: 'Raleway';
}

/*
========
add item header
========
*/

.nope {
  width:960px;
  margin:0 auto;
  border-bottom: 1px solid black;
}

.npe form {
  margin-bottom: 12px;
}

.submit_div {
  display:inline-block;
  font-family: 'Playfair Display';
  color:inherit;
  text-decoration: none;
  width:120px;
  color:white;
  background-color: #000;
  padding:12px;
}

.submit_div:active {
  background-color: #fff;
  color:#000;
}

.group input {
  display:inline-block;
  width:90%;
  padding:24px;
  border:none;
  border-top:1px solid #909090;
  border-bottom: 1px solid #909090;
  margin:12px auto;
  outline: none;
  text-align: center;
}


.group .submit_div {
  display:inline-block;
}

.add_item a {

}


/*
========
main user view page
========
*/

.main_view {
  margin:0 auto;
  width:960px;
}

.main_view input {
  display:block;
  font-size: 24px;
  line-height: 32px;
  margin-bottom:12px;
}

.create, .login {
  margin: 0 auto;
  width:360px;

  font-family:Raleway;

  font-size: 24px;
  line-height: 32px;
}

/*
========
User creation page
========
*/

.invalid_password, .invalid_login {
  padding:12px;
  border: 2px solid #D32F2F;
  border-radius: 6px;
  margin:24px;

  background-color: #FD5B6A;

  color: #fff;
}

/*
========
Home page
========
*/

.home_container {
  display:flex;
}

.home_container > div {
  flex-grow: 1;
}

.half h2{
  text-align: center;
  font-family: Raleway;
  font-size:22px;
  line-height: 32px;

  width:90%;
  display:inline-block;
  border-bottom: 2px solid #000;
}

.my_items ul {
  margin-left:12px;
}

.owned_item {
  font-size: 22px;
  line-height: 28px;
  width: 50%;
  margin-bottom:12px;
  border-bottom: 2px solid #999;
}

.allItems h2 {
  font-size:32px;
  text-align: center;
  border-bottom: 1px solid black;
}

/*
========
All items
========
*/

.available_item {
  font-size: 22px;
  line-height: 28px;
  width: 50%;
  margin-left:120px;
  margin-bottom:12px;
  border-bottom: 2px solid #999;
}


/*
========
footer things
========
*/

footer {
  font-size: 36px;
  font-family: Raleway;
  line-height: 48px;
  text-align: center;

  width:960px;

  padding:12px;
  border-top: 4px solid black;
  margin: 0 auto;
  margin-top:48px;
}

.byline {
  font-size:12px;
}

.name {
  color:#444;
}
