header {
  font-size: 36px;
  font-family: Helvetica;
  line-height: 48px;
  text-align: center;

  width:960px;

  padding:12px;
  margin: 0 auto;
  margin-bottom:12px;
}

a {
  display:inline-block;
  color:inherit;
  text-decoration: none;
  width:120px;
  color:white;
  background-color: #000;
  padding:12px;
}

.top_bar {
  width:960px;
  margin:0 auto;
  border-bottom: 4px solid #000;
  margin-bottom:12px;
}

.logout {
  position: absolute;
  top: 24px;
  text-align: right;
  right: 24px;
  /* height: 24px; */
  font-size: 22px;
  background-color: #000;
  border: none;
  color: white;
}

.add_item {
  width:960px;
  margin:0 auto;
  border-bottom: 1px solid black;
}

.add_item form {
  margin-bottom: 12px;
}

.main_view {
  margin:0 auto;
  width:960px;
}

.main_view input {
  display:block;
  font-size: 24px;
  line-height: 32px;
  margin-bottom:12px;
}

.create, .login {
  margin: 0 auto;
  width:360px;

  font-family:Helvetica;

  font-size: 24px;
  line-height: 32px;
}

/*
========
User creation page
========
*/

.invalid_password, .invalid_login {
  padding:12px;
  border: 2px solid #D32F2F;
  border-radius: 6px;
  margin:24px;

  background-color: #FD5B6A;

  color: #fff;
}

/*
========
Home page
========
*/

.home_container {
  display:flex;
}

.home_container > div {
  flex-grow: 1;
}

.half h2{
  text-align: center;
  font-family: Helvetica;
  font-size:22px;
  line-height: 32px;

  width:90%;
  display:inline-block;
  border-bottom: 2px solid #000;
}

/*
========
footer things
========
*/

footer {
  font-size: 36px;
  font-family: Helvetica;
  line-height: 48px;
  text-align: center;

  width:960px;

  padding:12px;
  border-top: 4px solid black;
  margin: 0 auto;
  margin-top:48px;
}

.byline {
  font-size:12px;
}

.name {
  color:#444;
}
