<div class="add_item" >
  <label> add an item </label>
  <input type="text" ng-model="item" placeholder="new item" />
  <div class="submit_div inline" ng-click="submitItem(item)">add</div>
  <a href="#/home">my items</a>
  <a href="#/all">all items</a>
</div>

<div class="allItems" ng-init="update(true)">
  <h2>Available Items</h2>
  <div class="available_item" ng-repeat="item in items track by item.itemId">
    <span class="item_name">{{item.itemname}}</span>
    <span class="owner_name">owner: {{item.owner}}</span>
    <span class="lentTo" ng-if="item.lentTo !== null">lent to: {{item.lentTo}}</span>
    <button class="dothings" ng-click="borrowItem(item)">take</button>
    <button class="dothings" ng-click="returnItem(item)">return</button>
  </div>
</div>
